@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto;
}

a {
    text-decoration: none;
}

// PARTI DE L'ENTÊTE 
header {
    nav {
        background-color: white;
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            li {
                text-decoration: none;
                color: black;
                padding: 1rem 2rem;
                
                a {
                    color: black;
                }
                a:hover {
                    color: white;
                    background-color: rgb(240, 189, 22);
                }
            }

        }
    }
}

// MAIN
// SECTION 1

main {
    #sect1 {
        background-image: url(../img/new-world-amazon-jeu.jpg);
        background-size: cover;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        img {
            width: 15%;
            object-fit: cover;
        }
        
        h1 {
            color: white;
            margin-top: 2rem;
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
        }
    }
     /* DEUXIEME SECTION */

#sect2 {
    text-align: center;
    padding:2rem 0;;
    margin: 0 auto;
    width: 56%;
    h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
     p {  
        margin: 2rem 0;   
    }
    .btn {
        color: white;
        background-color: orange;
        text-decoration: none;
        padding: 7px 20px;
        border-radius: 5px;
        border: 1px solid orange;
        display: inline-block;
        &:hover {
            color: orange;
            background-color: white
        }

    }
      
}
    // Troisième Section

#sect3 {
    h2 {
        text-align: center;
       margin: 2rem;
    }
    // PARTIE DU BLOC
    .sect3-content {
        display: flex;
        justify-content: center;
        color: white;
        .section {
            width: 350px;
            height: 450px;
            justify-content: center;
            box-shadow: 1px 1px;
            background-color: rgb(26, 22, 22);
            margin: 15px;
        
        }
        .section h3 {
            color: black;
            background-color: white;
           
        }
        
        .section h4 {
            margin-left: 10px;
            margin-top: 2rem;
        }
        
        .section p {
            margin-left: 10px;
            margin-top: 1rem;
        }
        
         img {
            width: 100%;
            object-fit: cover;
        }
    }
    
        
    }
}